SERPAPI_API_KEY=b4c258740bb4336e525529525d6d2322bd7ce5a529d917eb8816e3196999dd84
SERPAPI_LOCATION=United States
SERPAPI_GL=us
SERPAPI_HL=en
SERPAPI_DEBUG=true
MYSQL_URL=mysql+pymysql://root:7545079980@localhost:3306/linkedin_job_finder
CORS_ALLOW_ORIGINS=http://localhost:5173
